@page "/"

<header class="index-header">
    <h1>To-Do App</h1>
    <img src="https://image.freepik.com/free-vector/list-flat-illustration_183665-75.jpg" />
    <p>
        A simple & fast To-Do App to manage your tasks.<br/>
        Made By <a href="https://github.com/Vedang-Singh">Vedang Singh</a>
        <div style="margin: 20px 0 0 0;">
            <a href="/todo" class="link-main">Visit To-Do List</a> 
        </div>
    </p>
</header>


