@page "/todo"

<div class="form">
    <header>
        <input @onchange="@((ChangeEventArgs __e) => UpdateTitle(__e.Value.ToString()))" value="@listTitle" />
    </header>
    <input placeholder="Title..." @bind="inpVal"/><br/>
    <input placeholder="Description..." @bind="desc"/>
    <div class="btn-grp">
        <button class="btn-main" @onclick="AddTodo">Add</button>
        <button @onclick="ClearLocalStorage">Clear All</button>
    </div>
</div>
<List ListItems="@Todos"></List>