@page "/todo"

<div class="form">
    <header>
        <input @onchange="@((ChangeEventArgs __e) => UpdateTitle(__e.Value.ToString()))" value="@listTitle" />
    </header>
    <input @ref="inpRef" placeholder="Title..." @bind="inpVal"/><br/>
    <input @ref="decRef" placeholder="Description..." @bind="desc"/>
    <div class="btn-grp">
        <button class="btn-main" @onclick="AddTodo">Add</button>
        <button @onclick="ClearCompleted">Clear Completed</button>
    </div>
</div>
<List ListItems="@Todos"></List>