<div style="padding: 10px">
    @foreach (var item in ListItems)
    {
        <section class="@(item.Done ? "done" : "")">
            <h3>@item.Title</h3>
            <div>@item.Desc</div>
        </section>
    }
</div>

@code{
    [Parameter] public List<Item> ListItems { get; set; }
}